:root {
  --white: #fff;
}
@font-face {
  font-family: "Poppins";
  src:
    local("PoppinsRegular"),
    url("./fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

.navigation {
  display: flex;
  justify-content: space-between;
  font-family: "PoppinsRegular", sans-serif;
  font-size: 30px;
  color: var(--white);
  margin-top: 20px;
  background-color: #000;
  padding: 20px;
}

.navigation, .intro {
  font-family: "PoppinsRegular", sans-serif;
  font-size: 16px;
  color: var(--white);
}

.navigation a {
  color: var(--white);
  text-decoration: none;
}

.nav-items {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin-right: 20px;
}

.intro {
  background-image: url("./images/intro-pic.jpeg");
  background-repeat: no-repeat;
  background-position: 50% 80%;
  background-size: cover;
  height: 500px;
  margin-top: -70px;
  text-align: center;
}

.logo {
  margin-top: 10px;
  margin-left: 538px;
  background-image: url("./images/logo.png");
  background-repeat: no-repeat;
  height: 100px;
}

.search {
  width: 39%;
  height: 40px;
  border-radius: 7px;
  border: none;
  outline: none;
  font-size: 16px;
  padding-left: 10px;
}

.categroes {
  position: absolute;
  top: 40%;
  right: 25%;
  width: 50%;
  height: 40px;
  border-radius: 7px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #fff;
  margin-right: 6px;
}

.foods {
  margin-top: 200px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
/* 
.sign-in {
  background-color: #000;
} */